@media (max-width: 768px) {
  .container {
    width: 768px;
  }

  .cont2{ 
    height: 1660px; 
    padding: 100px 20px 100px 20px; 
  } 
  .h2{
    display: block;
  } 
  #h2{
    display: none;
  } 
  .sec2gBox {
    width: 354px;
    height: 277px;
    padding: 36px 0px;
    gap: 24px;
    border-radius: 10px;
  }
  .sec2SideBar {
    width: auto;
    height: 478px;
  }
  .sec2grids {
    width: 728px;
    height: 883px;
    gap: 0;
  }
  .cont4 {
    height: 1412px;
    padding: 100px 20px;
  }
  .sec4 {
    width: 728px;
    height: 1055px;
    gap: 60px;
  }
  .sec4left {
    display: grid;
    width: 728px;
    height: 779px;
    gap: 20px;
    opacity: 0px;
  }
  .sec4leftImg {
    width: 728px;
    height: 395px;
  }
  #describe {
    width: 728px;
    height: 102px;
    display: grid;
  }
  .sec4right {
    width: 728px;
  }

  .cont6 {
    height: 620px;
  }

  .sec6Box {
    width: 242px;
    height: 254px;
  }

  .cont7 {
    width: 768px;
    height: 881px;
    padding: 80px 20px;
  }

  .sec7About {
    width: 275px;
    height: 242px;
  }
  .cont8 {
    height: 1300px;
    padding: 100px 0px 0px 0px;
  }
  .sec8 {
    display: grid;
  }
  .cont9 {
    width: 768px;
    height: 950px;
    padding: 80px 40px 32px 40px;
  }
  .sec9 {
    width: 688px;
    height: 744px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .sec8about {
    width: 768px;
    height: 600px;
    padding: 0px 40px ; 
  }

  .sec8img {
    width: 768px;
    height: 600px;
    padding: 4px 0px 0px 0px; 
  }
}
